.navbar {
  position: fixed;
  top: 0;
  width: 80%;
  background-color: white;
  height: 40px; }
  .navbar svg {
    width: auto;
    height: 30px;
    margin-top: 5px;
    float: right;
    margin-left: 30px; }
    .navbar svg path {
      fill: #6D9C75; }
  .navbar .contact {
    float: left;
    margin-left: 0; }

@media (max-width: 576px) {
  .navbar {
    top: 650px;
    border-radius: 10px;
    background-color: #6D9C75;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box; }
    .navbar svg {
      height: 25px;
      margin-top: 7.5px; }
      .navbar svg path {
        fill: white; } }
